  #stage {
    border: 1px solid #ccc;
  }

  #felt {
    position: relative;
    margin: 0 0 0 200px;
    height: 500px;
    background: green;
  }

  #felt div {
    position: absolute;
    left: -140px;
    top: 100px;

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }